{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" href="img/logo.png" type="image/png">
      <title>BHT Super Market - Food & Grocery Delivery</title>
      <!-- Bootstrap Css -->
      <link rel="stylesheet" href="{% static 'vender/bootstrap/css/bootstrap.min.css' %}">
      <!-- Icofont -->
      <link rel="stylesheet" href="{% static 'vender/icofont/icofont.min.css' %}">
      <!-- Sidebar css -->
      <link rel="stylesheet" href="{% static 'vender/sidebar/demo.css' %}">
      <!-- Custom Css -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <script src="https://code.jquery.com/jquery-3.7.0.js"
          integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
   </head>
   <body class="bg-light">
      <div class="cart d-flex flex-column vh-100">
         <!-- navbar -->
         <div class="bg-white mb-auto">
            <div class="d-flex align-items-center gap-3 p-3 bg-primary">
               <a href="{% url 'customer:products' %}" class="text-white"><i class="bi bi-arrow-left fs-5"></i></a>
               <div>
                  <h6 class="fw-bold text-white mb-0">Your Orders</h6>
                  <p class="text-white-50 small m-0">BHT</p>
               </div>
               <div class="d-flex align-items-center gap-2 ms-auto">
                  
                  <a class="toggle" href="#">
                  <b class="bg-dark bg-opacity-75 rounded-circle user-icon">
                  <i class="bi bi-list d-flex m-0 h4 text-white"></i>
                  </b>
                  </a>
               </div>
            </div>
            
         </div>
         <!-- body -->
         <div class="my-auto vh-100 overflow-auto p-3">
            <!-- coupon -->
            
            <!-- review items --> 
         



            
            <div class="bg-white p-3 mb-2 shadow-sm rounded-3">
               {% if  orderdetails %}
               <div class="d-flex align-items-center gap-3 mb-3">
                  <i class="icofont-food-basket icofont-2x"></i>
                  <div>
                     <h6 class="fw-bold text-black osahan-mb-1">Your Orders</h6>
                     <p class="small text-muted m-0">{{count}}  orders</p>
                  </div>
               </div>
               {% for orders in orderdetails %}
               {% with totals=total|get_item:orders.id %}
              <a href="{% url 'customer:orderdetails' orders.OrderId %}" style="text-decoration: none !important; color:inherit !important; "> <div class="d-flex align-items-center gap-3 justify-content-between pb-4">
                <i class="icofont-bag icofont-2x text-primary"></i>
                  <div class="me-auto">
                     <p class="osahan-mb-1 fw-bold">{{orders.OrderId}}</p>
                     <p class="text-muted small m-0">Total : {{totals}} OMR</p>
                  </div>
                  {% if orders.time_slot == 'Quick Delivery' %}
                  <div class="me-auto">
                    <p class="osahan-mb-1 fw-bold">Delivery</p>
                    <p class="text-muted small m-0">within 30 Mins</p>
                 </div>
                 {% else %}
                 <div class="me-auto">
                    <p class="osahan-mb-1 fw-bold">Delivery</p>
                    <p class="text-muted small m-0">{{ orders.time_slot }}</p>
                 </div>
                 {% endif %}
                 {% if orders.status == 'Accepted' %}
                  <h6 class="m-0 text-success">Accepted</h6>
                 {% elif orders.status == 'Rejected' %} 
                 <h6 class="m-0 text-danger">Cancelled</h6>
                 {% else %}
                 <h6 class="m-0 text-primary">Placed</h6>
                 {% endif %}
               </div>
            </a>
               {% endwith %}
               {% endfor %}
               <!-- <div class="d-flex align-items-center gap-3 justify-content-between pb-4">
                <i class="icofont-bag icofont-2x text-primary"></i>
                  <div class="me-auto">
                     <p class="osahan-mb-1 fw-bold">Order#092827</p>
                     <p class="text-muted small m-0">5 items | Total : 200 OMR</p>
                  </div> -->
                  <!-- <div class="osahan-count d-flex align-items-center justify-content-between border border-dark-subtle rounded-pill h6 m-0 p-1">
                     <span class="text-muted minus d-flex"><i class="icofont-minus-circle"></i></span>
                     <input type="text" class="lh-sm small text-black text-center box border-0" value="1">
                     <span class="text-muted plus d-flex"><i class="icofont-plus-circle"></i></span>
                  </div> -->
                  <!-- <h6 class="m-0 text-primary">Placed</h6>
               </div> -->
               <!-- <div class="d-flex align-items-center gap-3 justify-content-between pb-4">
                <i class="icofont-bag icofont-2x text-primary"></i>
                  <div class="me-auto">
                     <p class="osahan-mb-1 fw-bold">Order#092827</p>
                     <p class="text-muted small m-0">5 items | Total : 200 OMR</p>
                  </div> -->
                  <!-- <div class="osahan-count d-flex align-items-center justify-content-between border border-dark-subtle rounded-pill h6 m-0 p-1">
                     <span class="text-muted minus d-flex"><i class="icofont-minus-circle"></i></span>
                     <input type="text" class="lh-sm small text-black text-center box border-0" value="1">
                     <span class="text-muted plus d-flex"><i class="icofont-plus-circle"></i></span>
                  </div> -->
                  <!-- <h6 class="m-0 text-primary">Placed</h6>
               </div> -->
               {% else %}
               <div class="p-5">
               <h6 class="text-center">You dont create any  Orders yet..</h6>
               <div style="display: flex; justify-content: center;">

               
               <a href="{% url 'customer:products' %}" class="bg-primary border-0 p-3 m-3 text-white">Order Now</a>
             </div>
            </div>
               {% endif %}


            </div>

            
            <!-- order door or gate -->
           
           
      
      <!-- offcanvas delivery option -->
      <div class="offcanvas offcanvas-bottom bg-light border-0 h-75" tabindex="-1" id="deliveryoption"
         aria-labelledby="deliveryoptionLabel">
         <div class="offcanvas-header">
            <h5 class="offcanvas-title fw-bold text-black" id="deliveryoptionLabel">Select a delivery option</h5>
         </div>
         <div class="offcanvas-body p-0">
            <div class="bg-white shadow-sm p-3 border-bottom border-top">
               <div class="form-check form-check-reverse">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                     value="option1">
                  <label class="form-check-label d-flex align-items-center gap-2" for="exampleRadios1">
                     <i class="icofont-free-delivery icofont-3x text-primary"></i>
                     <div class="text-start">
                        <h6 class="fw-bold mb-0">Delivery now - <span class="text-success"><del
                           class="text-muted">$25</del> Free</span></h6>
                        <p class="text-primary small m-0">Get in next 25 - 30 mins</p>
                     </div>
                  </label>
               </div>
            </div>
            <div class="bg-white shadow-sm p-3">
               <div class="form-check form-check-reverse mb-3">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                     value="option2" checked>
                  <label class="form-check-label d-flex align-items-center gap-2" for="exampleRadios2">
                     <i class="icofont-delivery-time icofont-3x text-primary"></i>
                     <div class="text-start">
                        <h6 class="fw-bold mb-0">Delivery later - <span class="text-success"><del
                           class="text-muted">$15</del> Free</span></h6>
                        <p class="text-primary small m-0">Earliest slot: 1:00 PM - 2:00 PM Today</p>
                     </div>
                  </label>
               </div>
               <div class="row row-cols-2 g-2 custom-checkbox">
                  <div class="col">
                     <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                     <label class="btn btn-outline-danger btn-sm w-100" for="btnradio1">1:00 PM - 2:00 PM</label>
                  </div>
                  <div class="col">
                     <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                     <label class="btn btn-outline-danger btn-sm w-100" for="btnradio2">2:00 PM - 3:00 PM</label>
                  </div>
                  <div class="col">
                     <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                     <label class="btn btn-outline-danger btn-sm w-100" for="btnradio3">3:00 PM - 4:00 PM</label>
                  </div>
                  <div class="col">
                     <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                     <label class="btn btn-outline-danger btn-sm w-100" for="btnradio4">4:00 PM - 5:00 PM</label>
                  </div>
                  <div class="col">
                     <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
                     <label class="btn btn-outline-danger btn-sm w-100" for="btnradio5">5:00 PM - 6:00 PM</label>
                  </div>
                  <div class="col">
                     <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off">
                     <label class="btn btn-outline-danger btn-sm w-100" for="btnradio6">6:00 PM - 7:00 PM</label>
                  </div>
                  <div class="col">
                     <input type="radio" class="btn-check" name="btnradio" id="btnradio7" autocomplete="off">
                     <label class="btn btn-outline-danger btn-sm w-100" for="btnradio7">7:00 PM - 8:00 PM</label>
                  </div>
                  <div class="col">
                     <input type="radio" class="btn-check" name="btnradio" id="btnradio8" autocomplete="off">
                     <label class="btn btn-outline-danger btn-sm w-100" for="btnradio8">8:00 PM - 9:00 PM</label>
                  </div>
                  <div class="col">
                     <input type="radio" class="btn-check" name="btnradio" id="btnradio9" autocomplete="off">
                     <label class="btn btn-outline-danger btn-sm w-100" for="btnradio9">9:00 PM - 10:00 PM</label>
                  </div>
                  <div class="col">
                     <input type="radio" class="btn-check" name="btnradio" id="btnradio10" autocomplete="off">
                     <label class="btn btn-outline-danger btn-sm w-100" for="btnradio10">10:00 PM - 11:00 PM</label>
                  </div>
               </div>
            </div>
         </div>
         <div class="offcanvas-footer bg-white shadow-sm border-top">
            <div class="d-flex align-items-center justify-content-between mb-1">
               <p class="m-0">Total Order Value</p>
               <p class="m-0">$163</p>
            </div>
            <div class="d-flex align-items-center justify-content-between">
               <p class="text-success m-0">Total Savings</p>
               <p class="m-0"><span class="bg-success bg-opacity-25 text-success rounded small p-1">-$33</span></p>
            </div>
            <div class="d-flex align-items-center justify-content-between mt-2 mb-3">
               <p class="text-primary fw-bold m-0">Delivery Partner Fee</p>
               <p class="text-success fw-bold m-0"><del class="text-muted me-1">$15</del>FREE</p>
            </div>
            <a href="payment-option.html" class="btn btn-success text-uppercase w-100 btn-lg fw-bold">Make Payment - $130</a>
         </div>
      </div>
      <!-- coupon offcanvas -->
      <div class="offcanvas offcanvas-end bg-light border-0 w-100" tabindex="-1" id="applycoupon"
         aria-labelledby="applycouponLabel">
         <div class="offcanvas-header bg-primary d-block bg-white shadow-sm">
            <div class="d-flex align-items-center justify-content-start gap-3">
               <a href="#" data-bs-dismiss="offcanvas" aria-label="Close"><i class="bi bi-arrow-left text-white fs-5"></i></a>
               <h5 class="offcanvas-title text-white fw-bold" id="applycouponLabel">Apply Coupon</h5>
            </div>
            <!-- search -->
            <div class="pt-3">
               <input type="text" class="form-control rounded-3 border-0 py-2" placeholder="Enter Coupon Code" aria-label="Enter Coupon Code" aria-describedby="search">
            </div>
         </div>
         <div class="offcanvas-body bg-light">
            <!-- Available coupons -->
            <p class="text-black text-uppercase small mb-3">availbale coupons</p>
            <div class="coupons-page">
               <!-- 1st coupon -->
               <div class="bg-white rounded-3 shadow-sm mb-3 osahan-coupons-main">
                  <div class="d-flex align-items-start justify-content-between border-bottom p-3 position-relative">
                     <span class="coupon-top-shape-2 position-absolute"></span>
                     <span class="coupon-bottom-shape-2 position-absolute"></span>
                     <div>
                        <div
                           class="d-flex align-items-center bg-success osahan-coupons-code mb-2 position-relative rounded-3">
                           <i class="icofont-sale-discount text-warning fs-5 border-end p-2"></i>
                           <span
                              class="d-flex align-items-center text-white fw-bold justify-content-center position-relative flex-grow-1 h-100 fs-6 px-3">
                           FRDEL99
                           <span class="coupon-top-shape position-absolute"></span>
                           <span class="coupon-bottom-shape position-absolute"></span>
                           </span>
                        </div>
                        <h6 class="m-0">Flat <span class="fw-bold">$25 off</span></h6>
                     </div>
                     <a href="#" class="text-primary fw-bold" data-bs-dismiss="offcanvas" aria-label="Close">APPLY</a>
                  </div>
                  <div class="p-3">
                     <p class="text-muted mb-2">Use code FRDEL99 & get free delivery on order above $99 on your first
                        5 orders on Foodmart
                     </p>
                     <a data-bs-toggle="collapse" class="text-primary" href="#collapseone" role="button" aria-expanded="false" aria-controls="collapseone">
                     + MORE
                     </a>
                     <div class="collapse" id="collapseone">
                        <div class="card card-body border-0 px-0 pb-0">
                           <p class="text-black mb-2">Terms and Conditions</p>
                           <ul class="d-grid gap-1 text-muted px-3 mb-0">
                              <li>Valid only on your first 5 orders on Foodmart</li>
                              <li>Minimum order value - 99</li>
                              <li>This free delivery waiver is applicable only on delivery fee</li>
                              <li>Other T&Cs may apply</li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- 2nd coupon -->
               <div class="bg-white rounded-3 shadow-sm mb-3 osahan-coupons-main">
                  <div class="d-flex align-items-start justify-content-between border-bottom p-3 position-relative">
                     <span class="coupon-top-shape-2 position-absolute"></span>
                     <span class="coupon-bottom-shape-2 position-absolute"></span>
                     <div>
                        <div
                           class="d-flex align-items-center bg-success osahan-coupons-code mb-2 position-relative rounded-3">
                           <i class="icofont-visa text-warning fs-5 border-end p-2"></i>
                           <span
                              class="d-flex align-items-center text-white fw-bold justify-content-center position-relative flex-grow-1 h-100 fs-6 px-3">
                           ORDERNOW
                           <span class="coupon-top-shape position-absolute"></span>
                           <span class="coupon-bottom-shape position-absolute"></span>
                           </span>
                        </div>
                        <h6 class="m-0">Flat <span class="fw-bold">$25 off</span></h6>
                     </div>
                     <a href="#" class="text-primary fw-bold" data-bs-dismiss="offcanvas" aria-label="Close">APPLY</a>
                  </div>
                  <div class="p-3">
                     <p class="text-muted mb-2">Use code ORDERNOW get flat $25 off on order above $249</p>
                     <a data-bs-toggle="collapse" class="text-primary" href="#collapsetwo" role="button" aria-expanded="false"
                        aria-controls="collapsetwo">
                     + MORE
                     </a>
                     <div class="collapse" id="collapsetwo">
                        <div class="card card-body border-0 px-0 pb-0">
                           <p class="text-black mb-2">Terms and Conditions</p>
                           <ul class="d-grid gap-1 text-muted px-3 mb-0">
                              <li>Valid only on your first 5 orders on Foodmart</li>
                              <li>Minimum order value - 99</li>
                              <li>This free delivery waiver is applicable only on delivery fee</li>
                              <li>Other T&Cs may apply</li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- 3rd coupon -->
               <div class="bg-white rounded-3 shadow-sm mb-3 osahan-coupons-main">
                  <div class="d-flex align-items-start justify-content-between border-bottom p-3 position-relative">
                     <span class="coupon-top-shape-2 position-absolute"></span>
                     <span class="coupon-bottom-shape-2 position-absolute"></span>
                     <div>
                        <div
                           class="d-flex align-items-center bg-success osahan-coupons-code mb-2 position-relative rounded-3">
                           <i class="icofont-bank-alt text-warning fs-5 border-end p-2"></i>
                           <span
                              class="d-flex align-items-center text-white fw-bold justify-content-center position-relative flex-grow-1 h-100 fs-6 px-3">
                           DFEYI10F
                           <span class="coupon-top-shape position-absolute"></span>
                           <span class="coupon-bottom-shape position-absolute"></span>
                           </span>
                        </div>
                        <h6 class="m-0">Flat <span class="fw-bold">$50 off</span></h6>
                     </div>
                     <a href="#" class="text-primary fw-bold" data-bs-dismiss="offcanvas" aria-label="Close">APPLY</a>
                  </div>
                  <div class="p-3">
                     <p class="text-muted mb-2">Use code DFEYI10F get flat $50 off on order above $449</p>
                     <a data-bs-toggle="collapse" class="text-primary" href="#collapsethree" role="button" aria-expanded="false"
                        aria-controls="collapsethree">
                     + MORE
                     </a>
                     <div class="collapse" id="collapsethree">
                        <div class="card card-body border-0 px-0 pb-0">
                           <p class="text-black mb-2">Terms and Conditions</p>
                           <ul class="d-grid gap-1 text-muted px-3 mb-0">
                              <li>Valid only on your first 5 orders on Foodmart</li>
                              <li>Minimum order value - 99</li>
                              <li>This free delivery waiver is applicable only on delivery fee</li>
                              <li>Other T&Cs may apply</li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- 4rth coupon -->
               <div class="bg-white rounded-3 shadow-sm mb-3 osahan-coupons-main">
                  <div class="d-flex align-items-start justify-content-between border-bottom p-3 position-relative">
                     <span class="coupon-top-shape-2 position-absolute"></span>
                     <span class="coupon-bottom-shape-2 position-absolute"></span>
                     <div>
                        <div
                           class="d-flex align-items-center bg-success osahan-coupons-code mb-2 position-relative rounded-3">
                           <i class="icofont-apple-pay text-warning fs-5 border-end p-2"></i>
                           <span
                              class="d-flex align-items-center text-white fw-bold justify-content-center position-relative flex-grow-1 h-100 fs-6 px-3">
                           BOIDC120
                           <span class="coupon-top-shape position-absolute"></span>
                           <span class="coupon-bottom-shape position-absolute"></span>
                           </span>
                        </div>
                        <h6 class="m-0">Discount <span class="fw-bold">$50 off</span></h6>
                     </div>
                     <a href="#" class="text-primary fw-bold" data-bs-dismiss="offcanvas" aria-label="Close">APPLY</a>
                  </div>
                  <div class="p-3">
                     <p class="text-muted mb-2">Use code BOIDC120 get 20% discount on order above $149</p>
                     <a data-bs-toggle="collapse" class="text-primary" href="#collapsefour" role="button" aria-expanded="false"
                        aria-controls="collapsefour">
                     + MORE
                     </a>
                     <div class="collapse" id="collapsefour">
                        <div class="card card-body border-0 px-0 pb-0 mb-0">
                           <p class="text-black mb-2">Terms and Conditions</p>
                           <ul class="d-grid gap-1 text-muted px-3">
                              <li>Valid only on your first 5 orders on Foodmart</li>
                              <li>Minimum order value - 99</li>
                              <li>This free delivery waiver is applicable only on delivery fee</li>
                              <li>Other T&Cs may apply</li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- sidebar nav -->
      <!-- sidebar nav -->
   <nav id="main-nav">
      <ul class="second-nav">
         <li class="osahan-user-profile bg-primary">
            <div class="d-flex align-items-center gap-2">
               <img src="{% static 'images/bht.png' %}" alt="" class="rounded-pill img-fluid">
               <div class="ps-1">
                  <h5 class="fw-bold text-white osahan-mb-1">BHT Super Market</h5>
                  <p class="text-white-50 m-0">{{supermarket}}</p>
               </div>
            </div>
         </li>
         <li><a href="{% url 'customer:home' %}"><i class="bi bi-house me-3"></i>Homepage</a></li>
         <li><a href="{% url 'customer:products' %}"><i class="bi bi-grid me-3"></i>Products</a></li>
         <li><a href="{% url 'customer:mycart' %}"><i class="bi bi-basket me-3"></i>Cart</a></li>
         <li><a href="{% url 'customer:orders' %}"><i class="bi bi-receipt me-3"></i>Orders</a></li>
        
      </ul>
      
   </nav>
         <!-- Bootstrap Bundle Js -->
   
   </body>
</html>