{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" href="img/logo.png" type="image/png">
      <title>BHT SuperMart</title>
      <!-- Bootstrap Css -->
      <link rel="stylesheet" href="{% static 'vender/bootstrap/css/bootstrap.min.css' %}">
      <!-- Icofont -->
      <link rel="stylesheet" href="{% static 'vender/icofont/icofont.min.css' %}">
      <!-- Custom Css -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
   </head>
   <body>
      <div class="d-flex flex-column vh-100">
         <div class="order-received vh-100 d-flex align-items-center justify-content-center">
            <a href="track-order.html" class="link-dark">
               <div class="text-center p-4">
                  <img src="{% static 'images/order-received.png' %}" alt="" class="img-fluid w-50 mb-4">
                  <div>
                     <h3 class="fw-bold">Yay! Order Recieved</h3>
                     <!-- <p class="text-muted">You've saved 46 on this order.</p> -->
                  </div>
               </div>
            </a>
         </div>
         <div class="mt-auto p-4 heig">
            <a href="{% url 'customer:orders' %}" class="btn btn-primary w-100 text-uppercase btn-lg fw-bold">Track Order</a>
         </div>
      </div>
      <!-- Bootstrap Bundle Js -->
      <script src="{% static 'vender/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
   </body>
</html>