{% extends 'smsuser/index.html' %}
{% load static %}
{% block head %}
{% endblock %}

{% block nav %}
<div class="navbar-nav w-100">
    <a href="{% url 'smsuser:home' %}" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
    <div class="nav-item dropdown">
        <a href="{% url 'smsuser:productslist' %}" class="nav-item nav-link active" ><i class="fa fa-th me-2"></i>Products</a>
        <!-- <div class="dropdown-menu bg-transparent border-0">
            <a href="" class="dropdown-item">Categories</a>
            <a href="typography.html" class="dropdown-item">Typography</a>
            <a href="element.html" class="dropdown-item">Other Elements</a>
        </div> -->
    </div>
    <a href="{% url 'smsuser:categories' %}" class="nav-item nav-link"><i class="fa fa-archive me-2"></i>Categories</a>
    <a href="{% url 'smsuser:orders' %}" class="nav-item nav-link"><i class="fa fa-shopping-cart me-2"></i>Orders</a>
    <a href="{% url 'smsuser:coupons' %}" class="nav-item nav-link "><i class="fa fa-clipboard me-2"></i>Coupons</a>
    <a href="{% url 'smsuser:addbanner' %}" class="nav-item nav-link"><i class="fa fa-comments me-2"></i>Feedback</a>
    <div class="nav-item dropdown">
        <a href="{% url 'smsuser:report' %}" class="nav-item nav-link" ><i class="fa fa-bug me-2"></i></i>Report Issues</a>
        <!-- <div class="dropdown-menu bg-transparent border-0">
            <a href="signin.html" class="dropdown-item">Sign In</a>
            <a href="signup.html" class="dropdown-item">Sign Up</a>
            <a href="404.html" class="dropdown-item">404 Error</a>
            <a href="blank.html" class="dropdown-item">Blank Page</a>
        </div> -->
    </div>
    <a href="{% url 'smsuser:logout' %}" class="nav-item nav-link" ><i class="fas fa-sign-in-alt me-2"></i>Logout</a>

</div>
{% endblock %}

{% block home %}




<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Update Product</h6>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Product Name</label>
                        <input type="text" value="{{product.Product_name}}" class="form-control" name="productname" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div> -->
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Product ID</label>
                        <input type="text" name="productID" value="{{product.Product_ID}}" class="form-control" id="exampleInputPassword1">
                    </div>
                    <label for="exampleInputPassword1" class="form-label">Unit Type</label>
                    <select class="form-select mb-3" name="unit" aria-label="Default select example">

                        <option value="{{product.Unit_type}}" selected>{{product.Unit_type}}</option>
                        <option value="Nos">Nos</option>
                        <option value="kg">Kilo Gram</option>
                        <option value="g">grams</option>
                        <option value="l">Litre</option>
                        <option value="ml">Milli Litre</option>
                    </select>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Min Quanity</label>
                        <input type="number" name="minquantity" value="{{product.Min_value}}" class="form-control" id="exampleInputPassword1">
                    </div>
                    <label for="exampleInputPassword1" class="form-label">Catagory</label>
                    <select class="form-select mb-3" name="productcat" aria-label="Default select example">
                        {% for catagor in catagory %}
                        {% if catagor.id == product.Product_category %}
                        <option value="{{product.Product_category}}" selected>{{catagor.category_name}}</option>
                        {% endif %}
                        {% endfor %}
                        {% for cat in catagory %}
                        {% if cat.category_name != product.Product_category %}
                        <option value="{{cat.id}}">{{cat.category_name}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">slug</label>
                        <input type="text" class="form-control" value="{{product.slug}}" name="slug" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Price</label>
                        <input type="number" class="form-control" value="{{product.Price}}" step=".01" name="price" id="price" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Discount</label>
                        <input type="number" class="form-control" value="{{product.Discount}}" step=".01" id="discount" name="discount" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Final Price</label>
                        <input type="number" class="form-control" value="{{product.final_total}}" step=".01" name="finalprice" id="finalprice" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="floatingTextarea">Description</label>
                        <textarea class="form-control" name="description" placeholder="Description" id="floatingTextarea"
                            style="height: 150px;">{{product.Description}}</textarea>
                      
                    </div>

                    <div class="mb-3">
                        <label for="formFile" class="form-label"></label>Select Product Image
                        <input class="form-control" name="productpic" type="file" id="formFile">
                    </div>

                   
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Recent Sales End -->


        <!-- Widgets Start -->
        <!-- <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-light rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <h6 class="mb-0">Messages</h6>
                                <a href="">Show All</a>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">Jhon Doe</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                    <span>Short message goes here...</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">Jhon Doe</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                    <span>Short message goes here...</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">Jhon Doe</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                    <span>Short message goes here...</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center pt-3">
                                <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">Jhon Doe</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                    <span>Short message goes here...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-light rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Calender</h6>
                                <a href="">Show All</a>
                            </div>
                            <div id="calender"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-light rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">To Do List</h6>
                                <a href="">Show All</a>
                            </div>
                            <div class="d-flex mb-2">
                                <input class="form-control bg-transparent" type="text" placeholder="Enter task">
                                <button type="button" class="btn btn-primary ms-2">Add</button>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <input class="form-check-input m-0" type="checkbox">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span>Short task goes here...</span>
                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <input class="form-check-input m-0" type="checkbox">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span>Short task goes here...</span>
                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <input class="form-check-input m-0" type="checkbox" checked>
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span><del>Short task goes here...</del></span>
                                        <button class="btn btn-sm text-primary"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <input class="form-check-input m-0" type="checkbox">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span>Short task goes here...</span>
                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center pt-2">
                                <input class="form-check-input m-0" type="checkbox">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span>Short task goes here...</span>
                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        <!-- Widgets End -->

        {% endblock %}
        {% block bodyened %}
        <script src="{% static 'admin/js/myjs.js' %}"></script>
        {% endblock %}